<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Title Block -->
        <title>{{ global.title }}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

        <!-- Styles -->
        {{ "style.css" | asset_url | stylesheet_tag }}

</head>
<body>
    <div class="wrap">

        {% block content %}{% endblock %}

    </div>
</body>
</html>

